@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #00375e;
  --primary-color: #fff;
  --secondary-color: #e7e7e7;

  --swapping-color: #ff5e19;
  --comparing-color: #fbff43;
  --sorted-color: #11d300;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  cursor: default;
  background-color: var(--bg-color);
}
